/* Style pour la balise p.centre */
p.centre {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Style pour le cadre de la section d'informations */
div.cadre {
    border: 2px solid #90b7dd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(223, 210, 210, 0.1);
    background-color: #90b7dd;
}

/* Style pour le titre de la section */
div.cadre h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Style pour les informations d'utilisateur */
div.cadre p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Style pour le lien de déconnexion */
a.logout {
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    text-decoration: none;
    color: #f00;
}

/* Style pour les liens */
a {
    text-decoration: none;
    color: #336699;
}